{% extends "Dietetica/index.html" %}

{% block titulo %}
<h1 class="mb-5">Clientes</h1>
{% endblock titulo %}

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
    {% for c in clientes  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.apellido }}</td>
            <td>{{ c.DNI }}</td>
            <td>{{ c.email }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}